body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#tutorial {
	float: right;
	padding: 10px;
	border: solid 1px black;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#navigation_bar {
   	width: 100%;
	  background-color: #ddd;
	  padding: 10px 10px;
	  border: solid 1px black;
	  margin-top: 0px;
}

#user_nav {
  font-size: 12px;
float: right;
}

#lang_navigation {
  font-size: 12px;
}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}


.argument {
	border-bottom: 3px solid #888;
	padding: 10px;
	margin: 0px;
	margin-left: -10px;
}

.argument_title {
	color: #999;
}

#pro_title {
	color: #8D8;
	text-align: center;
	font-size: 160%;
	font-weight: bold;
}

#con_title {
	color: #D88;
	text-align: center;
	font-size: 160%;
	font-weight: bold;
}


#pro_number {
	color: #8D8;
	font-size: 130%;
	font-weight: bold;
}

#con_number {
	color: #D88;
	font-size: 130%;
	font-weight: bold;
}


td.procon {
	vertical-align: top;
}

.argument ul {
	list-style-type: none;
	margin-top: 0px;
}


.argument_agree a {
	font-weight: bold;
	color: #4a4;
}

.argument_disagree a {
	font-weight: bold;
	color: #b44;
}
#approval_rating {
	font-size: 50%;
	color: #333;
}

#pro {
		width: 360px;
	padding: 10px;
	background: #DDFFDD;
	list-style-type: none;
}

#pro table, #pro tr, #con table, #con tr {
	margin: 0px;
	padding: 0px;
}

#con {
	width: 360px;
	padding: 10px;
	background: #FFDDDD;
	list-style-type: none;
}

#pro li {
	margin: 10px;
	padding: 10px;
	border: 0px solid #BFB;
}

#con li {
	margin: 10px;
	padding: 10px;
	border: 0px solid #FBB;
}

#pro .argument_content {
	color: #383;
	margin-bottom: -20px;
	margin-top: -10px;
}

#con .argument_content {
	color: #833;
	margin-bottom: -20px;
	margin-top: -10px;
}

.argument_field {
	height: 20px;
	width: 300px;
}

.comment_field {
	height: 100px;
	width: 95%;
}

.comment {
	font-size: 100%;
	width: 100%;
	margin: 0px;
	border-top:3px solid #888;
	padding: 10px;
	margin-left: -10px;
	background: #E4EAF1;
	left: -30px;
	
}

.reply {
	position:relative;
	width: 95%;
	left: 40px;
}

.comment_content {
	font-size: 140%;
	color: #555;
	background: #fff;
	padding: 10px;
	padding-bottom: 0px;
	border:1px solid #888;
	margin-bottom: 30px;
	margin-top: -10px;
}

.comment_header {
	padding-bottom: 0px;
	margin-bottom: 0px;
}


.meter {
	position: relative;
	top: -10px;
}
#meter_bkg {
	position: absolute;
}
#meter_front {
	position: absolute;
	left: 3px;
}

div.referendum_item {
	border:1px solid #888;
}



.bill_support, .bill_nosupport {
margin: 0px 15px 12px;
display: block;
padding-top: 31px;
width: 31px;
float: none;
clear: both;
overflow: hidden;
height: 0;
}

.nay {
background: url('/images/vote_squares2.png') no-repeat left -39px;
}
.nay.bill_support, a.nay:hover {
background-position: -35px -39px;
}
.aye {
background: url('/images/vote_squares2.png') no-repeat left 0px;
}
.aye.bill_support, a.aye:hover {
background-position: -35px 0px;
}

#private_vote {
	border:1px solid #888;
	padding: 10px;
}

table.votes {
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
	font-weight: normal;
	font-size: 11px;
	color: #000;
	background-color: #fff;
	border: 1px solid #888;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.votes td.hed {
	background-color: #fff;
	color: #000;
	padding: 4px;
	text-align: left;
	border: 1px solid #888;
	font-size: 12px;
	font-weight: bold;
}

div#preview table {
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
	font-weight: normal;
	font-size: 11px;
	color: #000;
	background-color: #fff;
	border: 1px solid #888;
	border-collapse: collapse;
	border-spacing: 0px;
}

div#preview table td {
	background-color: #fff;
	color: #000;
	padding: 40px;
	text-align: left;
	border: 1px solid #888;
	font-size: 12px;
	font-weight: bold;
}