/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 26, ../../app/stylesheets/screen.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 51, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 53, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:visited {
  color: #004c99;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:active {
  color: #bf00ff;
}
/* line 63, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong, body.bp dfn {
  font-weight: bold;
}
/* line 65, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em, body.bp dfn {
  font-style: italic;
}
/* line 66, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 67, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 70, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 75, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 81, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 87, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 88, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 89, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 1210 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(3.34%, rgba(100, 100, 225, 0.25)), color-stop(3.34%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(100, 100, 225, 0.25)), color-stop(7.507%, rgba(100, 100, 225, 0.25)), color-stop(7.507%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(100, 100, 225, 0.25)), color-stop(11.674%, rgba(100, 100, 225, 0.25)), color-stop(11.674%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(15.84%, rgba(100, 100, 225, 0.25)), color-stop(15.84%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(100, 100, 225, 0.25)), color-stop(20.007%, rgba(100, 100, 225, 0.25)), color-stop(20.007%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(100, 100, 225, 0.25)), color-stop(24.174%, rgba(100, 100, 225, 0.25)), color-stop(24.174%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(28.34%, rgba(100, 100, 225, 0.25)), color-stop(28.34%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(100, 100, 225, 0.25)), color-stop(32.507%, rgba(100, 100, 225, 0.25)), color-stop(32.507%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(100, 100, 225, 0.25)), color-stop(36.674%, rgba(100, 100, 225, 0.25)), color-stop(36.674%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(40.84%, rgba(100, 100, 225, 0.25)), color-stop(40.84%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(100, 100, 225, 0.25)), color-stop(45.007%, rgba(100, 100, 225, 0.25)), color-stop(45.007%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(100, 100, 225, 0.25)), color-stop(49.174%, rgba(100, 100, 225, 0.25)), color-stop(49.174%, rgba(0, 0, 0, 0)), color-stop(50.0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(53.34%, rgba(100, 100, 225, 0.25)), color-stop(53.34%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(100, 100, 225, 0.25)), color-stop(57.507%, rgba(100, 100, 225, 0.25)), color-stop(57.507%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(100, 100, 225, 0.25)), color-stop(61.674%, rgba(100, 100, 225, 0.25)), color-stop(61.674%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(65.84%, rgba(100, 100, 225, 0.25)), color-stop(65.84%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(100, 100, 225, 0.25)), color-stop(70.007%, rgba(100, 100, 225, 0.25)), color-stop(70.007%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(100, 100, 225, 0.25)), color-stop(74.174%, rgba(100, 100, 225, 0.25)), color-stop(74.174%, rgba(0, 0, 0, 0)), color-stop(75.0%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(78.34%, rgba(100, 100, 225, 0.25)), color-stop(78.34%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(100, 100, 225, 0.25)), color-stop(82.507%, rgba(100, 100, 225, 0.25)), color-stop(82.507%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(100, 100, 225, 0.25)), color-stop(86.674%, rgba(100, 100, 225, 0.25)), color-stop(86.674%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(90.84%, rgba(100, 100, 225, 0.25)), color-stop(90.84%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(100, 100, 225, 0.25)), color-stop(95.007%, rgba(100, 100, 225, 0.25)), color-stop(95.007%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(100, 100, 225, 0.25)), color-stop(99.174%, rgba(100, 100, 225, 0.25)), color-stop(99.174%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40.417px, rgba(0, 0, 0, 0) 40.417px, rgba(0, 0, 0, 0) 50.417px, rgba(100, 100, 225, 0.25) 50.417px, rgba(100, 100, 225, 0.25) 90.833px, rgba(0, 0, 0, 0) 90.833px, rgba(0, 0, 0, 0) 100.833px, rgba(100, 100, 225, 0.25) 100.833px, rgba(100, 100, 225, 0.25) 141.25px, rgba(0, 0, 0, 0) 141.25px, rgba(0, 0, 0, 0) 151.25px, rgba(100, 100, 225, 0.25) 151.25px, rgba(100, 100, 225, 0.25) 191.667px, rgba(0, 0, 0, 0) 191.667px, rgba(0, 0, 0, 0) 201.667px, rgba(100, 100, 225, 0.25) 201.667px, rgba(100, 100, 225, 0.25) 242.083px, rgba(0, 0, 0, 0) 242.083px, rgba(0, 0, 0, 0) 252.083px, rgba(100, 100, 225, 0.25) 252.083px, rgba(100, 100, 225, 0.25) 292.5px, rgba(0, 0, 0, 0) 292.5px, rgba(0, 0, 0, 0) 302.5px, rgba(100, 100, 225, 0.25) 302.5px, rgba(100, 100, 225, 0.25) 342.917px, rgba(0, 0, 0, 0) 342.917px, rgba(0, 0, 0, 0) 352.917px, rgba(100, 100, 225, 0.25) 352.917px, rgba(100, 100, 225, 0.25) 393.333px, rgba(0, 0, 0, 0) 393.333px, rgba(0, 0, 0, 0) 403.333px, rgba(100, 100, 225, 0.25) 403.333px, rgba(100, 100, 225, 0.25) 443.75px, rgba(0, 0, 0, 0) 443.75px, rgba(0, 0, 0, 0) 453.75px, rgba(100, 100, 225, 0.25) 453.75px, rgba(100, 100, 225, 0.25) 494.167px, rgba(0, 0, 0, 0) 494.167px, rgba(0, 0, 0, 0) 504.167px, rgba(100, 100, 225, 0.25) 504.167px, rgba(100, 100, 225, 0.25) 544.583px, rgba(0, 0, 0, 0) 544.583px, rgba(0, 0, 0, 0) 554.583px, rgba(100, 100, 225, 0.25) 554.583px, rgba(100, 100, 225, 0.25) 595.0px, rgba(0, 0, 0, 0) 595.0px, rgba(0, 0, 0, 0) 605.0px, rgba(100, 100, 225, 0.25) 605px, rgba(100, 100, 225, 0.25) 645.417px, rgba(0, 0, 0, 0) 645.417px, rgba(0, 0, 0, 0) 655.417px, rgba(100, 100, 225, 0.25) 655.417px, rgba(100, 100, 225, 0.25) 695.833px, rgba(0, 0, 0, 0) 695.833px, rgba(0, 0, 0, 0) 705.833px, rgba(100, 100, 225, 0.25) 705.833px, rgba(100, 100, 225, 0.25) 746.25px, rgba(0, 0, 0, 0) 746.25px, rgba(0, 0, 0, 0) 756.25px, rgba(100, 100, 225, 0.25) 756.25px, rgba(100, 100, 225, 0.25) 796.667px, rgba(0, 0, 0, 0) 796.667px, rgba(0, 0, 0, 0) 806.667px, rgba(100, 100, 225, 0.25) 806.667px, rgba(100, 100, 225, 0.25) 847.083px, rgba(0, 0, 0, 0) 847.083px, rgba(0, 0, 0, 0) 857.083px, rgba(100, 100, 225, 0.25) 857.083px, rgba(100, 100, 225, 0.25) 897.5px, rgba(0, 0, 0, 0) 897.5px, rgba(0, 0, 0, 0) 907.5px, rgba(100, 100, 225, 0.25) 907.5px, rgba(100, 100, 225, 0.25) 947.917px, rgba(0, 0, 0, 0) 947.917px, rgba(0, 0, 0, 0) 957.917px, rgba(100, 100, 225, 0.25) 957.917px, rgba(100, 100, 225, 0.25) 998.333px, rgba(0, 0, 0, 0) 998.333px, rgba(0, 0, 0, 0) 1008.333px, rgba(100, 100, 225, 0.25) 1008.333px, rgba(100, 100, 225, 0.25) 1048.75px, rgba(0, 0, 0, 0) 1048.75px, rgba(0, 0, 0, 0) 1058.75px, rgba(100, 100, 225, 0.25) 1058.75px, rgba(100, 100, 225, 0.25) 1099.167px, rgba(0, 0, 0, 0) 1099.167px, rgba(0, 0, 0, 0) 1109.167px, rgba(100, 100, 225, 0.25) 1109.167px, rgba(100, 100, 225, 0.25) 1149.583px, rgba(0, 0, 0, 0) 1149.583px, rgba(0, 0, 0, 0) 1159.583px, rgba(100, 100, 225, 0.25) 1159.583px, rgba(100, 100, 225, 0.25) 1200px, rgba(0, 0, 0, 0) 1200px, rgba(0, 0, 0, 0) 1210px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40.417px, rgba(0, 0, 0, 0) 40.417px, rgba(0, 0, 0, 0) 50.417px, rgba(100, 100, 225, 0.25) 50.417px, rgba(100, 100, 225, 0.25) 90.833px, rgba(0, 0, 0, 0) 90.833px, rgba(0, 0, 0, 0) 100.833px, rgba(100, 100, 225, 0.25) 100.833px, rgba(100, 100, 225, 0.25) 141.25px, rgba(0, 0, 0, 0) 141.25px, rgba(0, 0, 0, 0) 151.25px, rgba(100, 100, 225, 0.25) 151.25px, rgba(100, 100, 225, 0.25) 191.667px, rgba(0, 0, 0, 0) 191.667px, rgba(0, 0, 0, 0) 201.667px, rgba(100, 100, 225, 0.25) 201.667px, rgba(100, 100, 225, 0.25) 242.083px, rgba(0, 0, 0, 0) 242.083px, rgba(0, 0, 0, 0) 252.083px, rgba(100, 100, 225, 0.25) 252.083px, rgba(100, 100, 225, 0.25) 292.5px, rgba(0, 0, 0, 0) 292.5px, rgba(0, 0, 0, 0) 302.5px, rgba(100, 100, 225, 0.25) 302.5px, rgba(100, 100, 225, 0.25) 342.917px, rgba(0, 0, 0, 0) 342.917px, rgba(0, 0, 0, 0) 352.917px, rgba(100, 100, 225, 0.25) 352.917px, rgba(100, 100, 225, 0.25) 393.333px, rgba(0, 0, 0, 0) 393.333px, rgba(0, 0, 0, 0) 403.333px, rgba(100, 100, 225, 0.25) 403.333px, rgba(100, 100, 225, 0.25) 443.75px, rgba(0, 0, 0, 0) 443.75px, rgba(0, 0, 0, 0) 453.75px, rgba(100, 100, 225, 0.25) 453.75px, rgba(100, 100, 225, 0.25) 494.167px, rgba(0, 0, 0, 0) 494.167px, rgba(0, 0, 0, 0) 504.167px, rgba(100, 100, 225, 0.25) 504.167px, rgba(100, 100, 225, 0.25) 544.583px, rgba(0, 0, 0, 0) 544.583px, rgba(0, 0, 0, 0) 554.583px, rgba(100, 100, 225, 0.25) 554.583px, rgba(100, 100, 225, 0.25) 595.0px, rgba(0, 0, 0, 0) 595.0px, rgba(0, 0, 0, 0) 605.0px, rgba(100, 100, 225, 0.25) 605px, rgba(100, 100, 225, 0.25) 645.417px, rgba(0, 0, 0, 0) 645.417px, rgba(0, 0, 0, 0) 655.417px, rgba(100, 100, 225, 0.25) 655.417px, rgba(100, 100, 225, 0.25) 695.833px, rgba(0, 0, 0, 0) 695.833px, rgba(0, 0, 0, 0) 705.833px, rgba(100, 100, 225, 0.25) 705.833px, rgba(100, 100, 225, 0.25) 746.25px, rgba(0, 0, 0, 0) 746.25px, rgba(0, 0, 0, 0) 756.25px, rgba(100, 100, 225, 0.25) 756.25px, rgba(100, 100, 225, 0.25) 796.667px, rgba(0, 0, 0, 0) 796.667px, rgba(0, 0, 0, 0) 806.667px, rgba(100, 100, 225, 0.25) 806.667px, rgba(100, 100, 225, 0.25) 847.083px, rgba(0, 0, 0, 0) 847.083px, rgba(0, 0, 0, 0) 857.083px, rgba(100, 100, 225, 0.25) 857.083px, rgba(100, 100, 225, 0.25) 897.5px, rgba(0, 0, 0, 0) 897.5px, rgba(0, 0, 0, 0) 907.5px, rgba(100, 100, 225, 0.25) 907.5px, rgba(100, 100, 225, 0.25) 947.917px, rgba(0, 0, 0, 0) 947.917px, rgba(0, 0, 0, 0) 957.917px, rgba(100, 100, 225, 0.25) 957.917px, rgba(100, 100, 225, 0.25) 998.333px, rgba(0, 0, 0, 0) 998.333px, rgba(0, 0, 0, 0) 1008.333px, rgba(100, 100, 225, 0.25) 1008.333px, rgba(100, 100, 225, 0.25) 1048.75px, rgba(0, 0, 0, 0) 1048.75px, rgba(0, 0, 0, 0) 1058.75px, rgba(100, 100, 225, 0.25) 1058.75px, rgba(100, 100, 225, 0.25) 1099.167px, rgba(0, 0, 0, 0) 1099.167px, rgba(0, 0, 0, 0) 1109.167px, rgba(100, 100, 225, 0.25) 1109.167px, rgba(100, 100, 225, 0.25) 1149.583px, rgba(0, 0, 0, 0) 1149.583px, rgba(0, 0, 0, 0) 1159.583px, rgba(100, 100, 225, 0.25) 1159.583px, rgba(100, 100, 225, 0.25) 1200px, rgba(0, 0, 0, 0) 1200px, rgba(0, 0, 0, 0) 1210px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40.417px, rgba(0, 0, 0, 0) 40.417px, rgba(0, 0, 0, 0) 50.417px, rgba(100, 100, 225, 0.25) 50.417px, rgba(100, 100, 225, 0.25) 90.833px, rgba(0, 0, 0, 0) 90.833px, rgba(0, 0, 0, 0) 100.833px, rgba(100, 100, 225, 0.25) 100.833px, rgba(100, 100, 225, 0.25) 141.25px, rgba(0, 0, 0, 0) 141.25px, rgba(0, 0, 0, 0) 151.25px, rgba(100, 100, 225, 0.25) 151.25px, rgba(100, 100, 225, 0.25) 191.667px, rgba(0, 0, 0, 0) 191.667px, rgba(0, 0, 0, 0) 201.667px, rgba(100, 100, 225, 0.25) 201.667px, rgba(100, 100, 225, 0.25) 242.083px, rgba(0, 0, 0, 0) 242.083px, rgba(0, 0, 0, 0) 252.083px, rgba(100, 100, 225, 0.25) 252.083px, rgba(100, 100, 225, 0.25) 292.5px, rgba(0, 0, 0, 0) 292.5px, rgba(0, 0, 0, 0) 302.5px, rgba(100, 100, 225, 0.25) 302.5px, rgba(100, 100, 225, 0.25) 342.917px, rgba(0, 0, 0, 0) 342.917px, rgba(0, 0, 0, 0) 352.917px, rgba(100, 100, 225, 0.25) 352.917px, rgba(100, 100, 225, 0.25) 393.333px, rgba(0, 0, 0, 0) 393.333px, rgba(0, 0, 0, 0) 403.333px, rgba(100, 100, 225, 0.25) 403.333px, rgba(100, 100, 225, 0.25) 443.75px, rgba(0, 0, 0, 0) 443.75px, rgba(0, 0, 0, 0) 453.75px, rgba(100, 100, 225, 0.25) 453.75px, rgba(100, 100, 225, 0.25) 494.167px, rgba(0, 0, 0, 0) 494.167px, rgba(0, 0, 0, 0) 504.167px, rgba(100, 100, 225, 0.25) 504.167px, rgba(100, 100, 225, 0.25) 544.583px, rgba(0, 0, 0, 0) 544.583px, rgba(0, 0, 0, 0) 554.583px, rgba(100, 100, 225, 0.25) 554.583px, rgba(100, 100, 225, 0.25) 595.0px, rgba(0, 0, 0, 0) 595.0px, rgba(0, 0, 0, 0) 605.0px, rgba(100, 100, 225, 0.25) 605px, rgba(100, 100, 225, 0.25) 645.417px, rgba(0, 0, 0, 0) 645.417px, rgba(0, 0, 0, 0) 655.417px, rgba(100, 100, 225, 0.25) 655.417px, rgba(100, 100, 225, 0.25) 695.833px, rgba(0, 0, 0, 0) 695.833px, rgba(0, 0, 0, 0) 705.833px, rgba(100, 100, 225, 0.25) 705.833px, rgba(100, 100, 225, 0.25) 746.25px, rgba(0, 0, 0, 0) 746.25px, rgba(0, 0, 0, 0) 756.25px, rgba(100, 100, 225, 0.25) 756.25px, rgba(100, 100, 225, 0.25) 796.667px, rgba(0, 0, 0, 0) 796.667px, rgba(0, 0, 0, 0) 806.667px, rgba(100, 100, 225, 0.25) 806.667px, rgba(100, 100, 225, 0.25) 847.083px, rgba(0, 0, 0, 0) 847.083px, rgba(0, 0, 0, 0) 857.083px, rgba(100, 100, 225, 0.25) 857.083px, rgba(100, 100, 225, 0.25) 897.5px, rgba(0, 0, 0, 0) 897.5px, rgba(0, 0, 0, 0) 907.5px, rgba(100, 100, 225, 0.25) 907.5px, rgba(100, 100, 225, 0.25) 947.917px, rgba(0, 0, 0, 0) 947.917px, rgba(0, 0, 0, 0) 957.917px, rgba(100, 100, 225, 0.25) 957.917px, rgba(100, 100, 225, 0.25) 998.333px, rgba(0, 0, 0, 0) 998.333px, rgba(0, 0, 0, 0) 1008.333px, rgba(100, 100, 225, 0.25) 1008.333px, rgba(100, 100, 225, 0.25) 1048.75px, rgba(0, 0, 0, 0) 1048.75px, rgba(0, 0, 0, 0) 1058.75px, rgba(100, 100, 225, 0.25) 1058.75px, rgba(100, 100, 225, 0.25) 1099.167px, rgba(0, 0, 0, 0) 1099.167px, rgba(0, 0, 0, 0) 1109.167px, rgba(100, 100, 225, 0.25) 1109.167px, rgba(100, 100, 225, 0.25) 1149.583px, rgba(0, 0, 0, 0) 1149.583px, rgba(0, 0, 0, 0) 1159.583px, rgba(100, 100, 225, 0.25) 1159.583px, rgba(100, 100, 225, 0.25) 1200px, rgba(0, 0, 0, 0) 1200px, rgba(0, 0, 0, 0) 1210px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40.417px, rgba(0, 0, 0, 0) 40.417px, rgba(0, 0, 0, 0) 50.417px, rgba(100, 100, 225, 0.25) 50.417px, rgba(100, 100, 225, 0.25) 90.833px, rgba(0, 0, 0, 0) 90.833px, rgba(0, 0, 0, 0) 100.833px, rgba(100, 100, 225, 0.25) 100.833px, rgba(100, 100, 225, 0.25) 141.25px, rgba(0, 0, 0, 0) 141.25px, rgba(0, 0, 0, 0) 151.25px, rgba(100, 100, 225, 0.25) 151.25px, rgba(100, 100, 225, 0.25) 191.667px, rgba(0, 0, 0, 0) 191.667px, rgba(0, 0, 0, 0) 201.667px, rgba(100, 100, 225, 0.25) 201.667px, rgba(100, 100, 225, 0.25) 242.083px, rgba(0, 0, 0, 0) 242.083px, rgba(0, 0, 0, 0) 252.083px, rgba(100, 100, 225, 0.25) 252.083px, rgba(100, 100, 225, 0.25) 292.5px, rgba(0, 0, 0, 0) 292.5px, rgba(0, 0, 0, 0) 302.5px, rgba(100, 100, 225, 0.25) 302.5px, rgba(100, 100, 225, 0.25) 342.917px, rgba(0, 0, 0, 0) 342.917px, rgba(0, 0, 0, 0) 352.917px, rgba(100, 100, 225, 0.25) 352.917px, rgba(100, 100, 225, 0.25) 393.333px, rgba(0, 0, 0, 0) 393.333px, rgba(0, 0, 0, 0) 403.333px, rgba(100, 100, 225, 0.25) 403.333px, rgba(100, 100, 225, 0.25) 443.75px, rgba(0, 0, 0, 0) 443.75px, rgba(0, 0, 0, 0) 453.75px, rgba(100, 100, 225, 0.25) 453.75px, rgba(100, 100, 225, 0.25) 494.167px, rgba(0, 0, 0, 0) 494.167px, rgba(0, 0, 0, 0) 504.167px, rgba(100, 100, 225, 0.25) 504.167px, rgba(100, 100, 225, 0.25) 544.583px, rgba(0, 0, 0, 0) 544.583px, rgba(0, 0, 0, 0) 554.583px, rgba(100, 100, 225, 0.25) 554.583px, rgba(100, 100, 225, 0.25) 595.0px, rgba(0, 0, 0, 0) 595.0px, rgba(0, 0, 0, 0) 605.0px, rgba(100, 100, 225, 0.25) 605px, rgba(100, 100, 225, 0.25) 645.417px, rgba(0, 0, 0, 0) 645.417px, rgba(0, 0, 0, 0) 655.417px, rgba(100, 100, 225, 0.25) 655.417px, rgba(100, 100, 225, 0.25) 695.833px, rgba(0, 0, 0, 0) 695.833px, rgba(0, 0, 0, 0) 705.833px, rgba(100, 100, 225, 0.25) 705.833px, rgba(100, 100, 225, 0.25) 746.25px, rgba(0, 0, 0, 0) 746.25px, rgba(0, 0, 0, 0) 756.25px, rgba(100, 100, 225, 0.25) 756.25px, rgba(100, 100, 225, 0.25) 796.667px, rgba(0, 0, 0, 0) 796.667px, rgba(0, 0, 0, 0) 806.667px, rgba(100, 100, 225, 0.25) 806.667px, rgba(100, 100, 225, 0.25) 847.083px, rgba(0, 0, 0, 0) 847.083px, rgba(0, 0, 0, 0) 857.083px, rgba(100, 100, 225, 0.25) 857.083px, rgba(100, 100, 225, 0.25) 897.5px, rgba(0, 0, 0, 0) 897.5px, rgba(0, 0, 0, 0) 907.5px, rgba(100, 100, 225, 0.25) 907.5px, rgba(100, 100, 225, 0.25) 947.917px, rgba(0, 0, 0, 0) 947.917px, rgba(0, 0, 0, 0) 957.917px, rgba(100, 100, 225, 0.25) 957.917px, rgba(100, 100, 225, 0.25) 998.333px, rgba(0, 0, 0, 0) 998.333px, rgba(0, 0, 0, 0) 1008.333px, rgba(100, 100, 225, 0.25) 1008.333px, rgba(100, 100, 225, 0.25) 1048.75px, rgba(0, 0, 0, 0) 1048.75px, rgba(0, 0, 0, 0) 1058.75px, rgba(100, 100, 225, 0.25) 1058.75px, rgba(100, 100, 225, 0.25) 1099.167px, rgba(0, 0, 0, 0) 1099.167px, rgba(0, 0, 0, 0) 1109.167px, rgba(100, 100, 225, 0.25) 1109.167px, rgba(100, 100, 225, 0.25) 1149.583px, rgba(0, 0, 0, 0) 1149.583px, rgba(0, 0, 0, 0) 1159.583px, rgba(100, 100, 225, 0.25) 1159.583px, rgba(100, 100, 225, 0.25) 1200px, rgba(0, 0, 0, 0) 1200px, rgba(0, 0, 0, 0) 1210px);
  -moz-background-size: 100% 20px, auto;
  -webkit-background-size: 100% 20px, auto;
  -o-background-size: 100% 20px, auto;
  background-size: 100% 20px, auto;
  background-position: left top;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 9, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info a {
  color: #205791;
}
/* line 10, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 35, ../../app/stylesheets/screen.scss */
body.main-layout #container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background-color: #ECECFF;
}
/* line 40, ../../app/stylesheets/screen.scss */
body.main-layout #sidebar-left {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 141.25px;
  text-align: center;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #sidebar-left {
  overflow-x: hidden;
}
/* line 45, ../../app/stylesheets/screen.scss */
body.main-layout #sidebar-left li {
  list-style-type: none;
  padding: 10px;
}
/* line 51, ../../app/stylesheets/screen.scss */
body.main-layout #container2 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 746.25px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #container2 {
  overflow-x: hidden;
}
/* line 55, ../../app/stylesheets/screen.scss */
body.main-layout #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 746.25px;
  text-align: center;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #header {
  overflow-x: hidden;
}
/* line 60, ../../app/stylesheets/screen.scss */
body.main-layout #flash {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 746.25px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #flash {
  overflow-x: hidden;
}
/* line 64, ../../app/stylesheets/screen.scss */
body.main-layout #tutorial {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 746.25px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #tutorial {
  overflow-x: hidden;
}
/* line 68, ../../app/stylesheets/screen.scss */
body.main-layout #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 746.25px;
  box-shadow: 5px 5px 5px #555555;
  -webkit-box-shadow: 5px 5px 5px #555555;
  -moz-box-shadow: 5px 5px 5px #555555;
  text-align: center;
  border: 1px solid #a6a6a6;
  background-color: #FFF;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #content {
  overflow-x: hidden;
}
/* line 76, ../../app/stylesheets/screen.scss */
body.main-layout #sidebar-right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 141.25px;
  text-align: center;
  padding: 10px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #sidebar-right {
  overflow-x: hidden;
}
/* line 85, ../../app/stylesheets/screen.scss */
body.main-layout #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 1200px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #footer {
  overflow-x: hidden;
}
/* line 89, ../../app/stylesheets/screen.scss */
body.main-layout #home-content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 746.25px;
  text-align: center;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #home-content {
  overflow-x: hidden;
}
/* line 91, ../../app/stylesheets/screen.scss */
body.main-layout #home-content td {
  text-align: center;
}
/* line 97, ../../app/stylesheets/screen.scss */
body.main-layout #bill-sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 242.083px;
  padding: 10px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #bill-sidebar {
  overflow-x: hidden;
}
/* line 103, ../../app/stylesheets/screen.scss */
body.main-layout #bill-category {
  width: 242.083px;
  height: 40px;
  margin-top: 30px;
}
/* line 106, ../../app/stylesheets/screen.scss */
body.main-layout #bill-category a {
  padding: 10px;
}
/* line 112, ../../app/stylesheets/screen.scss */
body.main-layout #bill-score, body.main-layout #bill-vote {
  width: 242.083px;
  height: 60px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: auto;
  text-align: center;
}
/* line 120, ../../app/stylesheets/screen.scss */
body.main-layout #bill-score div.meter, body.main-layout #bill-vote div.meter {
  left: 65px;
}
/* line 128, ../../app/stylesheets/screen.scss */
body.main-layout #bill-vote ul {
  position: relative;
  left: 60px;
}
/* line 132, ../../app/stylesheets/screen.scss */
body.main-layout #bill-vote a.link {
  position: relative;
  top: -20px;
}
/* line 138, ../../app/stylesheets/screen.scss */
body.main-layout #bill-content {
  padding: 10px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 443.75px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #bill-content {
  overflow-x: hidden;
}
/* line 142, ../../app/stylesheets/screen.scss */
body.main-layout #bill-content .bill-text {
  padding: 20px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 187.5%;
  font-family: "Helvetica Neue";
}
/* line 149, ../../app/stylesheets/screen.scss */
body.main-layout .border-div {
  border-left: 2px solid #a6a6a6;
}
/* line 155, ../../app/stylesheets/screen.scss */
body.main-layout #bill-header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 746.25px;
  border-bottom: 2px solid #a6a6a6;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #bill-header {
  overflow-x: hidden;
}
/* line 160, ../../app/stylesheets/screen.scss */
body.main-layout #bill-header-icon {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 141.25px;
  padding-top: 15px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #bill-header-icon {
  overflow-x: hidden;
}
/* line 165, ../../app/stylesheets/screen.scss */
body.main-layout #bill-header-name {
  display: inline;
  float: left;
  margin-right: 0;
  width: 595px;
  padding-top: 15px;
  text-align: left;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #bill-header-name {
  overflow-x: hidden;
}
/* line 171, ../../app/stylesheets/screen.scss */
body.main-layout #bill-footer {
  border-top: 2px solid #a6a6a6;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 746.25px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #bill-footer {
  overflow-x: hidden;
}
/* line 174, ../../app/stylesheets/screen.scss */
body.main-layout #bill-footer ul {
  list-style-type: none;
}
/* line 179, ../../app/stylesheets/screen.scss */
body.main-layout #index-content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 746.25px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #index-content {
  overflow-x: hidden;
}
/* line 183, ../../app/stylesheets/screen.scss */
body.main-layout #index-column, body.main-layout #index-large-column, body.main-layout #last-index-large-column, body.main-layout #last-index-column {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 141.25px;
  height: 100px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #index-column, * html body.main-layout #index-large-column, * html body.main-layout #last-index-large-column, * html body.main-layout #last-index-column {
  overflow-x: hidden;
}
/* line 190, ../../app/stylesheets/screen.scss */
body.main-layout #index-column div, body.main-layout #index-large-column div, body.main-layout #last-index-large-column div, body.main-layout #last-index-column div {
  position: relative;
  left: 10px;
}
/* line 194, ../../app/stylesheets/screen.scss */
body.main-layout #index-column table tr td, body.main-layout #index-large-column table tr td, body.main-layout #last-index-large-column table tr td, body.main-layout #last-index-column table tr td {
  text-align: center;
  padding-right: 20px;
}
/* line 198, ../../app/stylesheets/screen.scss */
body.main-layout #index-column p, body.main-layout #index-large-column p, body.main-layout #last-index-large-column p, body.main-layout #last-index-column p {
  position: relative;
  top: 20px;
}
/* line 204, ../../app/stylesheets/screen.scss */
body.main-layout #index-large-column, body.main-layout #last-index-large-column {
  height: 150px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 292.5px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #index-large-column, * html body.main-layout #last-index-large-column {
  overflow-x: hidden;
}
/* line 210, ../../app/stylesheets/screen.scss */
body.main-layout #last-index-column {
  display: inline;
  float: left;
  margin-right: 0;
  width: 141.25px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #last-index-column {
  overflow-x: hidden;
}
/* line 215, ../../app/stylesheets/screen.scss */
body.main-layout #last-index-large-column {
  display: inline;
  float: left;
  margin-right: 0;
  width: 292.5px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.main-layout #last-index-large-column {
  overflow-x: hidden;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form label {
  font-weight: bold;
}
/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form input.text, body.main-layout form input.title, body.main-layout form input[type=email], body.main-layout form input[type=text], body.main-layout form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form input.text, body.main-layout form input.title, body.main-layout form input[type=email], body.main-layout form input[type=text], body.main-layout form input[type=password],
body.main-layout form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form input.text:focus, body.main-layout form input.title:focus, body.main-layout form input[type=email]:focus, body.main-layout form input[type=text]:focus, body.main-layout form input[type=password]:focus,
body.main-layout form textarea:focus {
  border: 1px solid #666666;
}
/* line 65, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form input.text, body.main-layout form input.title, body.main-layout form input[type=email], body.main-layout form input[type=text], body.main-layout form input[type=password] {
  width: 300px;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.main-layout form textarea {
  width: 390px;
  height: 250px;
}
/* line 224, ../../app/stylesheets/screen.scss */
body.main-layout a.button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Arial";
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #454589;
  border-color: #101010 black black #101010;
  color: #dddddd;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration: none;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
body.main-layout a.button {
  *display: inline;
}
/* line 75, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
body.main-layout a.button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
/* line 95, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
body.main-layout a.button[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
/* line 98, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
*:first-child + html body.main-layout a.button[type] {
  padding: 4px 10px 3px 7px;
}
/* line 47, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
body.main-layout a.button:active {
  background-color: #6299c5;
  border-color: #72a9d5 #6299c5 #6299c5 #72a9d5;
  color: white;
}
/* line 62, ../../../../../.rvm/gems/ruby-1.9.2-p136@voting_module/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
body.main-layout a.button:hover {
  background-color: #7979bb;
  border-color: #434343 #333333 #333333 #434343;
  color: white;
}
/* line 233, ../../app/stylesheets/screen.scss */
body.main-layout a.link {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
/* line 239, ../../app/stylesheets/screen.scss */
body.main-layout img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  vertical-align: middle;
}
/* line 244, ../../app/stylesheets/screen.scss */
body.main-layout .user-image {
  border: 2px solid #000;
}
/* line 248, ../../app/stylesheets/screen.scss */
body.main-layout div.meter {
  position: relative;
  left: 91.25px;
}
/* line 252, ../../app/stylesheets/screen.scss */
body.main-layout img.meter_bkg {
  position: absolute;
}
/* line 255, ../../app/stylesheets/screen.scss */
body.main-layout img.meter_front {
  position: absolute;
  left: 3px;
}
/* line 260, ../../app/stylesheets/screen.scss */
body.main-layout div.referendum_item {
  border: 1px solid #888;
}
/* line 265, ../../app/stylesheets/screen.scss */
body.main-layout .horiz-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 269, ../../app/stylesheets/screen.scss */
body.main-layout .horiz-list li {
  margin-left: 2px;
  float: left;
  /*pour IE*/
}
/* line 275, ../../app/stylesheets/screen.scss */
body.main-layout .bill_support, body.main-layout .bill_nosupport {
  margin: 0px 15px 12px;
  display: block;
  padding-top: 31px;
  width: 31px;
  float: none;
  clear: both;
  overflow: hidden;
  height: 0;
}
/* line 286, ../../app/stylesheets/screen.scss */
body.main-layout .nay {
  background: url("/images/vote_squares2.png") no-repeat left -39px;
}
/* line 289, ../../app/stylesheets/screen.scss */
body.main-layout .nay.bill_support, body.main-layout a.nay:hover {
  background-position: -35px -39px;
}
/* line 293, ../../app/stylesheets/screen.scss */
body.main-layout .aye {
  background: url("/images/vote_squares2.png") no-repeat left 0px;
}
/* line 296, ../../app/stylesheets/screen.scss */
body.main-layout .aye.bill_support, body.main-layout a.aye:hover {
  background-position: -35px 0px;
}
/* line 300, ../../app/stylesheets/screen.scss */
body.main-layout #private_vote {
  border: 1px solid #888;
  padding: 10px;
}
/* line 305, ../../app/stylesheets/screen.scss */
body.main-layout table.votes {
  text-align: center;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #000;
  background-color: #fff;
  border: 1px solid #888;
  border-collapse: collapse;
  border-spacing: 0px;
}
/* line 317, ../../app/stylesheets/screen.scss */
body.main-layout table.votes td.hed {
  background-color: #fff;
  color: #000;
  padding: 4px;
  text-align: left;
  border: 1px solid #888;
  font-size: 12px;
  font-weight: bold;
}
/* line 327, ../../app/stylesheets/screen.scss */
body.main-layout div#preview table {
  text-align: center;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #000;
  background-color: #fff;
  border: 1px solid #888;
  border-collapse: collapse;
  border-spacing: 0px;
}
/* line 339, ../../app/stylesheets/screen.scss */
body.main-layout div#preview table td {
  background-color: #fff;
  color: #000;
  padding: 40px;
  text-align: left;
  border: 1px solid #888;
  font-size: 12px;
  font-weight: bold;
}
/* line 349, ../../app/stylesheets/screen.scss */
body.main-layout div.comment {
  box-shadow: 5px 5px 5px #555555;
  -webkit-box-shadow: 5px 5px 5px #555555;
  -moz-box-shadow: 5px 5px 5px #555555;
  padding: 10px;
}
/* line 354, ../../app/stylesheets/screen.scss */
body.main-layout .comment_field {
  height: 50px;
}
/* line 359, ../../app/stylesheets/screen.scss */
body.main-layout .reply {
  box-shadow: 5px 5px 5px #555555;
  -webkit-box-shadow: 5px 5px 5px #555555;
  -moz-box-shadow: 5px 5px 5px #555555;
  padding: 10px;
  padding-right: 0px;
  position: relative;
  width: 95%;
  left: 30px;
}
/* line 368, ../../app/stylesheets/screen.scss */
body.main-layout .comment_content {
  font-size: 140%;
  color: #555;
  background: #fff;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 30px;
  margin-top: -10px;
}
/* line 378, ../../app/stylesheets/screen.scss */
body.main-layout .comment_header {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
