@import "blueprint";

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// @include blueprint-ie

//Recommended Blueprint configuration with scoping and semantic layout:
body.bp {
  @include blueprint-ie(true);

container {
font-size: 12px;
}

a:hover img {
border: 0px solid #aaa;
}

a.button {
background-color: #ddd;
border: 1px solid #aaa;
}

a:hover.button {
background-color: #ccc;
}

.actions input {
	position:relative;
	background-color: #ddd;
	border: 1px solid #aaa;
	}
	
.actions input:hover {
	background-color: #ccc;
}

.tooltip {
	font-family: "Tooltips", helvetica;
	display:none;
	background-color: #888;
	border: 1px solid #111;
	font-size:13px;
	padding:15px;
	color:white;	
}

#language-header {
	top: 12px;
}

#menu {
background-color: #99a;
border-bottom: 1px solid #888;
	
	a:hover {
		#menu-item {
			background-color: #778;
		}
	}
	.selected_item {
		background-color: #667;
	}
}

}

#feedback {
	left: 96%;
	#feedbackTag {
	font-size: 2em;
	writing-mode: tb-rl;
	filter: flipv fliph;
	font-weight: normal;
	
	}
}

#overlay-intro {
		border:10px solid #999;
		#intro-check {
			color:#fff;
			background-color:#6D6D6D;
			border:1px solid #4C4C4C;
		}
		
	}

	#overlay-intro h2 {
		font-family:tahoma,verdana,arial,sans-serif;
		color:#fff;
		background-color: #999;
	}