@import "blueprint";

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// @include blueprint-ie

//Recommended Blueprint configuration with scoping and semantic layout:
body.bp {
  @include blueprint-ie(true);

a:hover img {
border: 1px solid #aaa;
}

a.button {
background-color: #DDD;
border: 1px solid #aaa;
text-decoration: none;
padding: 5px;
}

a:hover.button {
position: relative;
padding-top: 7px;
padding-bottom: 3px;
}

.tooltip {
	font-family: "Tooltips", helvetica;
	display:none;
	background-color: #888;
	border: 1px solid #111;
	font-size:13px;
	padding:15px;
	color:white;	
}

#menu {
position: relative;
top: -15px;
left: 5px;
height: 25px;
background-color: #888;
width: 1210px;
filter: 
	progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ccc', endColorstr='#999'); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ccc', endColorstr='#999')"; /* IE8 */

@include column($blueprint-grid-columns,true); 
border-bottom: 1px solid #888;
	a {
		text-align: center;
		text-decoration: none;
		padding: 0px;
		margin: 0px;
		#menu-item {
			@include column(ceil($blueprint-grid-columns/4)); 
			padding: 0px;
			padding-top: 3px;
			margin: 0px;
 			#menu-title {
				font-style: normal;
				display:inline;
				font-size: 16px;
				text-decoration: none;
				color: white;
			}
		}
	}
	a:hover {
		#menu-item {
		filter: 
			progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#aaa', endColorstr='#888'); 
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#aaa', endColorstr='#888')"; /* IE8 */
			
		}
	}
	.selected_item {
		background-color: #666;
	}
}



  // Note: Blueprint centers text to fix IE6 container centering.
  // This means all your texts will be centered under all version of IE by default.
  // If your container does not have the .container class, don't forget to restore
  // the correct behavior to your main container (but not the body tag!)
  // Example:
  // .my-container
  //   text-align: left
}


#overlay-intro {
		border:10px solid #999;
		#intro-check {
			color:#fff;
			background-color:#6D6D6D;
			border:1px solid #4C4C4C;
		}
		
	}

	#overlay-intro h2 {
		font-family:tahoma,verdana,arial,sans-serif;
		color:#fff;
		background-color: #999;
	}