@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin shadowed($shad-size:5px, $shad-color:#555) {
box-shadow:$shad-size $shad-size $shad-size $shad-color;
-webkit-box-shadow:$shad-size $shad-size $shad-size $shad-color;
-moz-box-shadow: $shad-size $shad-size $shad-size $shad-color;
}


// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

@import "blueprint/buttons";

@import "compass/css3";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

@include font-face("Subtitles", font-files("colabreg-webfont.ttf", truetype));
@include font-face("Titles", font-files("bebas-webfont.ttf", truetype));

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.main-layout {

  h3 {
	font-family: "Subtitles", helvetica;
	font-size: 22px;
	font-style: normal;
	text-transform: uppercase;
	
	}
	
  h2 {
	font-family: "Titles", helvetica;
	letter-spacing:4px
  }
  
  #container {
    @include container; 
	@include background-image(linear-gradient(top, $blueprint-background-color, white));
	}
	
  #sidebar-left {
	$sidebar-l-columns: floor($blueprint-grid-columns / 8);
	@include column($sidebar-l-columns); 
	text-align: center;
	
	li {
		list-style-type: none;
		padding: 10px;
		}
	}

  #container2 {
	@include column($content-columns); 
	}
	
  #header {
	@include column($blueprint-grid-columns, true);
	text-align: center;
	@include background(image-url("DD_header.png"));
	height: 230px;
   }

   .title {
	position: relative;
	left: 360px;
	}
	
	.subtitle {
		position: relative;
		left: 360px;
		top: 80px;
		text-decoration: none;
		font-weight: bold;
		font-size: 30px;
		font-family: "Titles";
		}

   #flash {
	@include column($content-columns);
   }

   #tutorial {
	@include column($content-columns);
	@include single-box-shadow(darken($main-border-color,20%), 4px, 4px, 5px, false, false);
	width: span($content-columns) - 40px;
	border: 1px solid $main-border-color;
	padding: 20px;
	margin-bottom: 20px;
	@include background-image(linear-gradient(left, lighten(green,75%), lighten(green,70%)));
	
   }

   #content {
	@include column($content-columns); 
	@include single-box-shadow(darken($main-border-color,20%), 4px, 4px, 5px, false, false);
	text-align: center;
	border: 1px solid $main-border-color;
	background-color: #fff;
	@include background-image(linear-gradient(top, white, darken(white,8%)));
	}
	
	#sidebar-right {

		// One third of the grid columns, rounding down. With 24 cols, this is 8.
		$sidebar-r-columns: floor($blueprint-grid-columns / 8);
		@include column($sidebar-r-columns, true); 
		text-align: center;
		padding: 10px;
		}

   #footer {
	    @include column($blueprint-grid-columns); 
		height: 100px;}
	
	
   #home-content {
		@include column($content-columns, true);
		td {
		text-align: center;
		}
		text-align: center;
		height: 500px;
	   }
	
   .filter_form {
		@include blueprint-form;
	}
   
	
   #bill-sidebar {
	@include column($bill-sidebar-columns);
	padding: 10px;
	
   }

		#bill-category {
			width: span($bill-sidebar-columns);
			height: 40px;
			a {
			padding: 10px;
			}
			margin-top: 30px;
		   }
		
		#bill-score {
		width: span($bill-sidebar-columns);
		height: 60px;
		margin: auto;
		margin-bottom: 30px;
		margin-top: 30px;
		padding: auto;
		text-align: center;
			div.meter {
			left: 65px;
			}
		}
		
		#bill-vote {
		@extend #bill-score;
		
			ul {
			position:relative;
			left: 60px;
			}
			a.link {
				position:relative;
				top:-20px;
			}
		}
   .link-like {
			
		
		}

   #bill-content {
	padding: 10px;
	@include column($bill-content-columns);
	
		.bill-text {
			padding: 20px;
			@include blueprint-typography-body(20px);
			
			p {
			text-align: justify;
			font-family: "Helvetica Neue";
			}
		 }
   }

	.bill-text-link {
		
		p {
			padding-left: 10px; 
			text-align: justify;
		}
		a {
			text-decoration:none;
		}
	}
	
   .border-div {
		border-left: 2px solid $main-border-color;

   }
   	

   #bill-header {
	@include column($content-columns);
	border-bottom: 2px solid $main-border-color;
	padding-bottom: 10px;
   }

   #bill-header-icon {
	@include column(floor($content-columns/4));
	padding-top: 15px;
   }

   #bill-header-name {
	@include column(ceil(3*$content-columns/4), true);
	padding-top: 15px;
	text-align: left;
   }

   #bill-footer {
border-top: 2px solid $main-border-color;
	@include column($content-columns);
		ul {
		list-style-type:none;
		}
   }

   #party-index {
	padding: 20px;
	}

   #index-content {
	@include column($content-columns, true);
	
   }
	#index-element {
		@include background-image(linear-gradient(top, white, darken(white, 8%)));
		border-bottom: 2px solid darken(white, 12%);
	}

   #index-column {
		@include column($index-columns);
	  	text-align:center; 
		margin: 0px;
		padding: 0px;
		padding-top: 20px;
		div {
		position:relative;
		left: 10px;
		}
		table tr td {
		text-align: center;
		padding-right: 20px;
		}
		
	}
	
	#ideas {
		padding-bottom: 30px;
		font-weight: bold;
	}
	
	#index-large-column {
			@extend #index-column;
			@include column($index-columns*2);
		}
		
   #last-index-column {
		@extend #index-column;
		@include column($index-columns, true);
	}
	
	#last-index-large-column {
		@extend #index-large-column;
			@include column($index-columns*2, true);
		}
	
	form {
	  @include blueprint-form;
	  }

	a.button {
	@include single-box-shadow($main-border-color, 0px, 2px, 5px, false, false);
	@include button-button;
	@include button-colors;
	@include button-active-colors;
	@include button-hover-colors;
	@include rounded(5px);
	@include background-image(linear-gradient(top, white, darken(white, 12%)));
	border: 1px solid #aaa;
	text-decoration: none;
	padding: 7px;
	}
	a:hover.button {
		@include single-box-shadow($main-border-color, 0px, 0px, 0px, false, false);
	}
	
	a.link {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	}
	
	a:hover img {
		@include opacity(0.6);
	
	}
   
   img {
	@include rounded(5px);
	vertical-align:middle;
	}
	
	.user-image {
	border: 2px solid #000;
	}

	div.meter {
		position: relative;
		left: ((($index-columns + $index-margin)*$blueprint-grid-width)/2) - 30px;
	}
	img.meter_bkg {
		position: absolute;
	}
	img.meter_front {
		position: absolute;
		left: 3px;
	}

	div.referendum_item {
		border:1px solid #888;
	}
	
	.horiz-list
	{
	padding:0;
	 margin:0;
	 list-style-type:none;
	 li {
	margin-left:2px;
	 float:left; /*pour IE*/
		}
	}

	.bill_support, .bill_nosupport {
	margin: 0px 15px 12px;
	display: block;
	padding-top: 31px;
	width: 31px;
	float: none;
	clear: both;
	overflow: hidden;
	height: 0;
	}

	.nay {
	background: url('/images/vote_squares2.png') no-repeat left -39px;
	}
	.nay.bill_support, a.nay:hover {
	background-position: -35px -39px;
	}
	
	.aye {
	background: url('/images/vote_squares2.png') no-repeat left 0px;
	}
	.aye.bill_support, a.aye:hover {
	background-position: -35px 0px;
	}

	#private_vote {
		border:1px solid #888;
		padding: 10px;
	}

	table.votes {
		text-align: center;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
		font-weight: normal;
		font-size: 11px;
		color: #000;
		background-color: #fff;
		border: 1px solid #888;
		border-collapse: collapse;
		border-spacing: 0px;
	}

	table.votes td.hed {
		background-color: #fff;
		color: #000;
		padding: 4px;
		text-align: left;
		border: 1px solid #888;
		font-size: 12px;
		font-weight: bold;
	}

	div#preview table {
		text-align: center;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
		font-weight: normal;
		font-size: 11px;
		color: #000;
		background-color: #fff;
		border: 1px solid #888;
		border-collapse: collapse;
		border-spacing: 0px;
	}

	div#preview table td {
		background-color: #fff;
		color: #000;
		padding: 40px;
		text-align: left;
		border: 1px solid #888;
		font-size: 12px;
		font-weight: bold;
	}
	
	div.comment {
		@include shadowed;
		padding: 10px;
		background-color: white;
	}
	
	.comment_field {
		height: 50px;
	}
	
	.idea_field {
		height: 30px;
		width: 300px;
	}
	
	
	.reply {
		@include shadowed;
		padding: 10px;
		padding-right: 0px;
		position:relative;
		width: 95%;
		left: 30px;
	}

	.comment_content {
		font-size: 140%;
		color: #555;
		background: #fff;
		padding: 10px;
		padding-bottom: 0px;
		margin-bottom: 30px;
		margin-top: -10px;
	}

	.comment_header {
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	
	.spacer {
		height: 30px;
	}
	.authentications {
	  margin-bottom: 30px;
	}

	.authentication {
	  width: 130px;
	  float: left;
	  background-color: #EEE;
	  border: solid 1px #999;
	  padding: 5px 10px;
	  -moz-border-radius: 8px;
	  -webkit-border-radius: 8px;
	  position: relative;
	  margin-right: 10px;
	}

	.authentication .remove {
	  text-decoration: none;
	  position: absolute;
	  top: 3px;
	  right: 3px;
	  color: #333;
	  padding: 2px 4px;
	  font-size: 10px;
	}

	.authentication .remove:hover {
	  color: #CCC;
	  background-color: #777;
	  -moz-border-radius: 6px;
	  -webkit-border-radius: 6px;
	}

	.authentication img {
	  float: left;
	  margin-right: 10px;
	}

	.authentication .provider {
	  font-weight: bold;
	}

	.authentication .uid {
	  color: #666;
	  font-size: 11px;
	}

	.auth_provider img {
	  display: block;
	}

	.auth_provider {
	  float: left;
	  text-decoration: none;
	  margin-right: 20px;
	  text-align: center;
	  margin-bottom: 10px;
	}

	
  
}