<p><%= @user.displayName %>,</p>

<p><%= @delegate.user.displayName %> just cancelled his delegate mandate. You are thus no longer delegating your votes to this user. You can either <%= link_to "choose another delegate", delegates_path %> or remain without a delegate.</p>


<p><%= t('mailer.thanks') %></p>