<p><%= @user.displayName %>,</p>

<p><%= @delegate.user.displayName %> just cancelled his delegate mandate. You are thus no longer delegating your votes to this user. You can either <%= link_to "choose another delegate", delegates_url %> or remain without a delegate.</p>

<p>Of course, all the past votes of this delegate will remain valid.</p>

<p><%= t('mailer.thanks') %></p>