<div id="bill-header">
<%= title t('referendums.edit').capitalize %>
</div>
<div class="clear"></div><br />
<%= render 'form' %>

<%= link_to t('cancel'), @referendum, :class => "button" %>
<%= raw textile_editor_initialize -%>