
<%= render :partial => "layouts/bills", :locals => { :bill => @referendum, :delegated_vote => @delegated_vote } %>

<div id="bill-footer">
<%= render :partial => "layouts/amendments_list", :locals => { :bill => @referendum } %>
</div>
<div id="bill-footer">
<%= render :partial => "layouts/arguments", :locals => { :commentable => @referendum } %>
</div>
