<%= title t('referendums.index_categories') %>
<div id="index-content" style="margin-bottom: 50px;">
	
<% @categories.each do |category| %>
	<div id="index-column">
	</div>
  	<div id="index-column">
		<%= link_to image_tag(category.photo.url(:thumbnail)), category %>
	</div>
    <div id="index-column">
		<%= link_to eval("category.name_#{I18n.locale}"), category, :class => "link" %>
	</div>
	<div class="clear"></div>
<% end %>
</div>

<% if permitted_to? :create, Category.new %>
<p><%= link_to 'New Category', new_category_path, :class => "button" %></p>
<% end %>