<%= title t('referendums.index_categories') %>
<div id="index-content">
	
<% @categories.each do |category| %>
	<div id="index-column">
	</div>
  	<div id="index-column">
		<%= link_to image_tag(category.photo.url(:thumbnail)), category %>
	</div>
    <div id="last-index-column" style="padding-top: 25px;">
		<%= link_to eval("category.name_#{I18n.locale}"), category, :class => "link" %>
	</div>
<% end %>
</div>

<p><%= link_to 'New Category', new_category_path, :class => "button" %></p>
