<% @loc = 'devise.mailer.' %>

<p> <%= t(@loc+'welcome')+" "+@resource.email %>!</p>

<p><%= t(@loc+'confirm_text') %>:</p>

<p><%= link_to t(@loc+'confirm_button'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
