<% @loc = 'devise.mailer.' %>
<p><%= t(@loc+'hello')+" "+@resource.email %>!</p>

<%= t(@loc+'unlock_text_html') %>

<p><%= link_to t(@loc+'unlock_button'), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
