<div id="bill-header">
<%= title t('amendments.new').capitalize %>
</div>
<div class="clear"></div><br />
<%= render 'form' %>

<%= link_to t(:back_str), @amendmentable, :class => "button" %>
<%= raw textile_editor_initialize -%>