
<%= render :partial => "layouts/bills", :locals => { :bill => @amendment, :delegated_vote => @delegated_vote  } %>

<% if @amendment.current_phase > 1 %>
 <div id="bill-footer">
<%= render :partial => "layouts/arguments", :locals => { :commentable => @amendment } %>
</div>
<% end %>

<div id="bill-footer">
<%= render :partial => "layouts/comments", :locals => { :commentable => @amendment } %>
</div>

<%= link_to t('amendments.back'), @amendmentable, :class => "button" %>
