<% @loc = 'devise.mailer.' %>
<p><%= t(@loc+'hello')+" "+@resource.email %>!</p>

<p><%= t(@loc+'reset_text') %></p>

<p><%= link_to t(@loc+'reset_button'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<%= t(@loc+'reset_text2_html') %>

