
<table style="padding-left:40px;">
	<tr>
<td>
	<% if argument.user %>
		<%= link_to image_tag(argument.user.photo, :size => "40x40"), argument.user %>
	<% end %>
</td>

<td style="width:200px;">
	<table>
	<tr><td style="width:200px;text-align:left;">
	<%= link_to argument.title, argument, :class => "link" %>
	</td></tr>
	<% unless argument.percent_approval.nan? %>
	<tr><td style="width:200px;text-align:left;"><%= raw score_meter(argument.percent_approval/100.0,60) %></td></tr>
	<% end %>
	</table>
</td></tr>


<tr>
	<td colspan=3>
		<div class="bill-text-link"  style="position:relative;top:-10px;left:-10px;">
		<p>"<%= link_to truncate(argument.content, :length => 150), argument %>"</p>
		</div>
	</td>
</tr>

</table>