<h2 style="display:inline;"><img width="40" height="40" border="" align="middle" alt="" src="/images/bt_tut.gif" title="Tutorial">
<%= t('tutorial.title') %></h2>
<p><%= raw t("tutorial.#{params[:controller]}.#{params[:action]}")  %></p>